body {
	font-family: "Verdana", Arial, sans-serif;
	background-color: #cff;
}
header {
	background-color: #6cf;
    text-align: center;
    font-size: 26px;
    color: #000}
div{
	text-align: center;
	color: #000;
}
a {
	color: inherit;
	text-decoration: none;
}
a:hover {
	background-color: #6cf;
	opacity: .5;
}