body {
	font-family: 'Courier New', monospace;
	background-color: #000;
	color: white;
}
header {
	background-color: #020;
    text-align: center;
    font-size: 32px;
	text-shadow: 1px 1px purple; 
    color: white;
}
img.banner {
	position: absolute;
	padding-top: 10px;
	width: 99vw;
	height: 100px;
	filter: blur(4px);
}
ul.nav {
	text-align: center;
	font-size: 20px;
	text-shadow: 1px 1px purple; 
	color: white;
	white-space: nowrap;
}
ul.nav > li {
	position: relative;
	list-style: none;
	display: inline-block;
	padding: 30px 6vw;
	border: 1px outset purple;
	background-color: rgba(0,0,0,.5);
}
ul.nav > li:hover {
	background-color: #020;
	transition: 0.6s ease;
	opacity: .5;
}
a {
	color: inherit;
	text-decoration: none;
}
@media screen and (max-width: 1300px) {
  ul.nav > li {
    padding: 30px 3vw;
  }
}
@media screen and (max-width: 800px) {
  ul.nav > li {
    padding: 30px 1vw;
  }
}
@media screen and (max-width: 600px) {
  img.banner {
	position: absolute;
	padding-top: 10px;
	width: 99vw;
	height: 200px;
	filter: blur(4px);
}
  ul.nav > li {
	list-style: circle;
	display: block;
    padding: 6px 1vw;
  }
}
h1.intro, .container {
	margin-top: 40px;
	margin-left: 7vw;
	margin-right: 7vw;
	text-align: center;
	padding: 5px 5px 5px 5px;
	background-color: rgba(0,34,0,.5);
	border: outset #aba;
	border-radius: 10px;
	font-size: 20px;
}
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 30px;
	padding-bottom: 15px;
}
.arrow {
	border: solid white;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	transform: rotate(-45deg);
}
.info {
	padding: 5px 15px 5px 10px;
	border: outset #aba;
	border-radius: 10px;
}
.test, .info:hover {
	border: outset rgba(179,18,18,.5);
}
.card, .pic {
	padding: 1px 1px 1px 1px;
	width: 75px;
	height: 111px;
}
div.desc {
	display: block;
}
div.reelD {
	text-align: middle;
	max-width: 700px;
	position: relative;
	margin: auto;
	margin-top: 30px;
	padding: 5px 30px 5px 30px;
	background-color: rgba(0,34,0,.8);
	border: outset #aba;
	font-size: 18px;
}
div.reelS {
	max-width: 1700px;
	margin-left: 4vw;
	margin-right: 4vw;
	text-align: center;
	padding-top: 30px;
}
.active, div > img:hover {
	background-color: #3e3;
	transition: 0.6s ease;
	opacity: .5;
}
.info {
  position: relative;
}
.firsttext, .secondtext, .thirdtext, .fourthtext {
	width: 300px;
	padding: 5px 5px 5px 5px;
	background-color: rgba(0,34,0,1);
	border: outset #aba;
	border-radius: 10px;
	position: absolute;
	z-index: 1;
	top: 100%;
	left: 50%;
	margin-left: -150px;
}
