body {
	font-family: "Verdana", Arial, sans-serif;
	background: linear-gradient(to bottom,  #ff2, #ffa) fixed;
	text-align: center;
	color: #000;
}
h1 {
    font-size: 36px;
}
p, img {
	margin-left: 7vw;
	margin-right: 7vw;
	font-size: 24px;
}
.left {
	display: flex;
	justify-content: flex-start;
	text-align: left;
	flex-wrap: wrap;
	gap: 3%;
	margin-top: 3%;
}
.right {
	display: flex;
	justify-content: flex-end;
	text-align: right;
	flex-wrap: wrap;
	gap: 3%;
	margin-top: 3%;
}
.left > p, .right > p {
	max-width: 1100px;
	background-color: rgba(255,255,225,1);
	border-radius: 15px;
	padding: 10px 10px 10px 10px;
}
hr {
	height: 2px;
	border-width: 0;
	background-color: #000;
}
