<system.webServer>
  <rewrite>
    <rules>
      <rule name="Remove WWW" patternSyntax="Wildcard" stopProcessing="true">
		  <match url="*" />
		  <conditions>
			<add input="{CACHE_URL}" pattern="*://www.*" />
		  </conditions>
		  <action type="Redirect" url="{C:1}://{C:2}" redirectType="Permanent" />
		</rule>
    </rules>
  </rewrite>
</system.webServer>
